@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal; 
}

#potato-container{
  width: 100%;
  background-image: url("/potatonachos.jpg");
  height: 100px;
  background-position: center;
}

body {
  background-color:rgb(251, 252, 225);  
}
