app = "recipeshare-backend"

[[mounts]]
source = "recipeshare_data"
destination = "/data"

[env]
PORT = "2323"
ENVIRONMENT = "PROD"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
